<template name="formDatabaseTable">
<div class="col-md-12">
	<a href="{{pathFor 'formDatabase'}}">Rentrer une activité dans la database</a><br/>
	<a href="{{pathFor 'SMScardList'}}">Essayer la roulette! </a>
	<table class="table table-striped">
		<thead>
		<tr>
			<th class="field">X</th>
			<th class="field">Specific</th>
			<th class="field">Nom</th>
			<th class="field">Type</th>
			<th class="field">Adresse</th>
			<th class="field">Métro(s)</th>
			<th class="field">Arr</th>
			<th class="field">Description</th>
			<th class="field">Prix</th>
			<th class="field">Durée</th>
			<th class="field">Sun?</th>
			<th class="field">Horaires d'ouverture</th>
			<th class="field">Temp</th>
			<th class="field">Contact</th>
			<th class="field">Source</th>
			<th class="field">Lien</th>
			<th class="field">Note</th>
			<th class="field">Ind</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		{{#each item}}
			{{> formDatabaseTableRow}}
		{{/each}}
		</tbody>
	</table>
</div>
</template>