.day {
	display: inline-block;
	min-width: 100px;
}

td.container { 
	height: 1%; 
	width: 75%;
}

.table-description { 
	width: 100%; 
	height: 40px; 
	overflow:hidden; 
}

.table-hours { 
	width: 100%; 
	height: 40px; 
	overflow:hidden; 
}

.table-see-more-hours {
	height: 20px;
	cursor: pointer;
	color: #3276b1;
}

.table-see-more-description {
	height: 20px;
	cursor: pointer;
	color: #3276b1;
}

td.container > .see-more-selected {
	height: auto;
}