<template name="navigation">
	<div class="navigation">
		<a class="navigation__logo" href="{{pathFor route='home'}}"><h5>UrbanRoulette</h5></a>

		{{> searchForm}}

		<!-- 
		<select>
			<option>
				profile 1
			</option>
			<option>
				profile 2
			</option>
			<option>
				profile 3
			</option>
			<option>
				profile 4
			</option>
		</select> -->

		{{#if currentUser}}
     <a href="{{pathFor route='profile'}}">Profile</a>
     <a href="#" class="logout">Logout</a>
     {{else}}
     <a href="{{pathFor route='login'}}">login</a>
     <a href="{{pathFor route='signup'}}">signup</a>
     {{/if}}
	</div>
</template>