<template name="navigation">
	<div class="navigation">
		<a class="navigation__logo" href="{{pathFor route='home'}}"><h5>UR</h5></a>

		{{> searchForm}}

		<!-- 
		<select>
			<option>
				profile 1
			</option>
			<option>
				profile 2
			</option>
			<option>
				profile 3
			</option>
			<option>
				profile 4
			</option>
		</select> -->

		{{#if currentUser}}
     <!-- <a class="navigation__profile" href="{{pathFor route='profile'}}">Profile</a>
     <a class="navigation__logout" href="#" class="logout">Logout</a> -->
     {{else}}
     <!-- <a class="navigation__login" href="{{pathFor route='login'}}">login</a>
     <a class="navigation__signup" href="{{pathFor route='signup'}}">signup</a> -->
     {{/if}}
	</div>
</template>