/*------------------------------------*\
  INPUT - VARIABLES
\*------------------------------------*/
$input-bg: $c-white;
$input-text-color: $c-black;
$input-text-border: $c-grey;
$input-text-border-focus: $c-primary;
$input-text-color-placeholder: $c-grey;
$input-radius: $base-radius;

/*------------------------------------*\
  INPUT - MIXIN
\*------------------------------------*/
@mixin input($border-color, $focus-color: $border-color) {
  border-color: $border-color;

  &:focus {
    border-color: $focus-color;

    // outline: tint($focus-color, 70) auto 3px;
 
  }
}

/*------------------------------------*\
  INPUT - BASE
\*------------------------------------*/
// $all-text-inputs, textarea, select {
input, textarea, select {
  border-radius: $input-radius;
  border-width: 1px;
  border-style: solid;
  color: $input-text-color;
  background: $input-bg;
  display: block;
  font-size: inherit;
  width: 100%;

  @include round-px("padding", 1 / 3, 1 / 2);

  @include input($input-text-border, $input-text-border-focus);

  @include transition-property(color, border-color);

  @include transition-duration($transition-time);

  @include transition-timing-function($transition-easing);

  @include placeholder {
    font-style: italic;
    color: $input-text-color-placeholder;
  }
}

textarea {
  max-height: 180px;
  max-width: 100%;
}