$h6-font-size: 1;
$h5-font-size: $h6-font-size * 1.2;
$h4-font-size: $h5-font-size * 1.2;
$h3-font-size: $h4-font-size * 1.2;
$h2-font-size: $h3-font-size * 1.2;
$h1-font-size: $h2-font-size * 1.2;

/*------------------------------------*\
  TYPE
\*------------------------------------*/
body {
  color: $c-black;
  position: relative;
  font-family: $base-font-family;
}

ul {
  list-style: none;
}

html, body {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

b, strong {
  font-weight: bold;
}

i, cite, em, var, address, dfn, blockquote {
  font-style: italic;
}

figure, blockquote {
  padding-left: $base-font-size;
}

blockquote {
  border-left: 2px solid $c-black;
}

mark {
  background: yellow;
  color: $c-black;
}

small {
  font-size: 0.8em;
  line-height: 0.8em;
}

big {
  font-size: 1.2em;
  line-height: 1.2em;
}

tt, code, kbd, samp, pre {
  font-family: $monospace-font-family;

  @include font-size(0.9);
}

#{$heading-tag} {
  font-family: $title-font-family;
  font-weight: bold;
  margin: 0;
}

h1 {
  @include font-size($h1-font-size);
}

h2 {
  @include font-size($h2-font-size);
}

h3 {
  @include font-size($h3-font-size);
}

h4 {
  @include font-size($h4-font-size);
}

h5 {
  @include font-size($h5-font-size);
}

h6 {
  @include font-size($h6-font-size);
}