.search-form {
  .input-wrapper {
    position: relative;
    width: 100%;
    .input-clear {
      position: absolute;
      top: 50%;
      padding: 0;
      color: $c-grey;
      @include transform(translateY(-50%));
      @include rem(right, 0.5);
    }
  }
}

/*------------------------------------*\
  SINGLE INPUT DISPLAY
\*------------------------------------*/
.single-input {
  @include display(flex);

  input, .input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
  }

  button, .button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    @include flex(none);
  }
}