.activity-waiting {
	margin-top: 10px;
	margin-left: 80px;
}

.form-width {
	width: 100%;
}

#skip-activity-waiting {
	background-color: #33CC00;
	border-color: #33CC00;
}

#skip-activity-waiting:hover {
	background-color: #339900;
	border-color: #339900;
}

#remove-activity-waiting {
	background-color: #FF0000;
	border-color: #FF0000;
}

#remove-activity-waiting:hover {
	background-color: #CC0000;
	border-color: #CC0000;
}

.table-input {
	width:100%; 
	height:100%;
	min-height: 20px;
}

.type {
	cursor: pointer;
	padding: 5px 10px 5px 10px;
	margin: 3px;
	border: 1px solid #3276b1;
	color: #3276b1;
	display: inline-block;
}

.control-label {
	margin: 10px 0 10px 10px;
	display: block;
}	

.form-control {
	display: block;
	  width: 80%;
}

.panel.panel-default {
	display: -webkit-box;
	margin-bottom: 0px;
	border-bottom: none; 
}

.panel-heading {
	  display: inline-block;
	  width: 100px;
}

.list-group-item.autoform-array-item {
	border: none;
	padding: 0 0 0 20px;
	display: table-cell;
}

.custom-class {
	border: none;
	padding: 0 0 0 20px;
	display: table-cell;
}

.autoform-remove-item-wrap {
	padding: 0px;
}

#days {
	margin-left: 175px;
}

#days0 {
	margin-bottom: 10px;
	width: 152px;
}

button#add-all-button {
  margin-left: 38px;
  margin-bottom: 10px;
}

#days1 {
	margin-bottom: 10px;
	width: 152px;
}

#check-box-weekend0 {
	display: block;
}

input#defaultValue1 {
  display: block;
}

#check-box-weekend1 {
	display: block;
}

#temporary {
	margin: 10px 0 10px 0;
	display: inline-block;
	background-color: #fafafa;
	padding: 10px;
	border: 2px solid #979797;
}

#temporary-options {
	border:1px solid black;
	margin:0 0 10px 0;
	padding: 10px;
}

#start-and-end-days {
	display: inline-block;
	margin-right: 20px;
	vertical-align: middle;
}

.time-input {
	width: 40px;
}

#timeform {
vertical-align: middle;
  display: inline-block;
  background-color: #fafafa;
  margin-top: 5px;
  padding: 10px;
  border: 2px solid #979797;
}

#submit-button {
	margin: 30px 0 100px 0;
}

#days0 {
	display: inline-block;
}

#days1 {
	display: none;
	margin-left: 10px;
}