<template name='SMScardList'>
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<a href="{{pathFor 'formDatabase'}}"> Rentrer une activité dans la database </a> <br/>
		<a href="{{pathFor 'database'}}">Visualiser la database</a>

		<div>
		{{#each district}}
			{{> districtItem}}
		{{/each}}
		</div>

		<div class="btn btn-primary" id="click-button-sms">
			<div style="display: table-cell; vertical-align: middle;">
				Click!
			</div>
		</div>
		{{#if activity}}
			<div>
			Votre tirage {{stars}}<br/>
			Total : [{{priceInterval}}] euros
			<br/>
			<br/>
			{{#each activity}}
				{{> SMScardItem}}
			{{/each}}
			</div>
		{{/if}}
	</div>
	<div class="col-md-1"></div>
</template>