<template name="resetPassword">
  <p class="alert"></p>
  {{#if resetPassword}}
  <form class="form form--reset-password">
    <div class="form__field">
      <label calss="form__field__label">Type a new password</label>
      <input name="password" placeholder="New Password" type="password" >
    </div>
    <div class="form__field">
      <label calss="form__field__label">Repeat the password</label>
      <input name="passwordConfirm" placeholder="Confirm" type="password" >
    </div>
    <div class="form__field">
      <input class="btn-submit" type="submit" value="Reset">
    </div>
  </form>
  {{else}}
    <p class="alert error">Invalid Token or URL</p>
  {{/if}}

</template>