<template name="cardItem">

<div class="card">
	<div id="card-image">
		<img class="activator" src="{{image}}">
	</div>
	<div id="card-content">
		<div>
			<span id="name">{{specific}} - {{name}}<br/></span>
			<span> {{startString}} - {{endString}} </span> <br/>
			<span> {{address}} </span>
		</div>
<!--		<div class="keep {{keepSelected}}" id="{{index}}keep">Garder</div>
-->		<div class="description" id="{{index}}">{{{description}}}</div>
		<div class="see-more" id="{{index}}see-more">Voir plus...</div>
		<a href="{{link}}">Lien</a>
	</div>
	<div id="card-info">
		<span id="price"> {{price}}€ </span>
		<span id="mark"> Note: {{mark}} </span>
	</div>
</div>

<!-- With Materialize 
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{image}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{specific}}</span>
          <p>{{name}}</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Titleclose</span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
-->

</template>
