<template name="formDatabase">
<head>
	<!-- include libraries(jQuery, bootstrap, fontawesome) -->
	<script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.min.js"></script> 
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />

	<!-- include summernote css/js-->
	<link href="summernote.css" rel="stylesheet">
	<script src="summernote.min.js"></script>
</head>
<body>
	<div class="col-md-3">
		<div class="btn btn-primary activity-waiting" id="add-activity-waiting">Ajouter une activité en attente</div>	
		<div class="btn btn-primary activity-waiting" id="skip-activity-waiting">Zapper cette activité en attente</div>
		<div class="btn btn-primary activity-waiting" id="remove-activity-waiting">Supprimer cette activité en attente</div>
	</div>
	<div class="col-md-6">
		{{#autoForm collection="Activities" id="submitActivity" type="method" meteormethod="insertActivity"}}
			<fieldset>
				<legend>Rentrez une activité !</legend>
				{{> afQuickField name="specific" id="specific" value=specific}}
				<input type="checkbox" name="" value="" id="sun-checkbox"/> Besoin de beau temps
				{{> afQuickField name="name" id="name" value=name}}
				{{> afQuickField name="type" id="type" value=type}}
				<div class="type" id="restaurant">Restaurant</div>
				<div class="type" id="petit-dej-ou-gouter">Petit-dej ou goûter</div>
				<div class="type" id="bar">Bar</div>
				<div class="type" id="cinema">Cinéma/Film</div>
				<div class="type" id="sport">Sport</div>
				<div class="type" id="boite">Boite</div>
				<div class="type" id="theatre">Théâtre</div>
				<div class="type" id="musee">Musée</div>
				<div class="type" id="visite">Visite</div>
				<div class="type" id="balade">Balade</div>
				<div class="type" id="jeux">Jeux</div>
				<div class="type" id="concert">Concert</div>
				<div class="type" id="evenement">Evènement</div>
				<div class="type" id="lecture">Lecture</div>
				<div class="type" id="insolite">Insolite</div>
				<div class="type" id="evasion">Evasion</div>
				<div class="type" id="shopping">Shopping</div>
				<div class="type" id="cuisine">Cuisine</div>
				<div class="type" id="decouverte">Découverte</div>
				<div class="type" id="divers">Divers</div>
				{{> afQuickField name="address" id="address" value=address}}
				{{> afQuickField name="district" id="district" value=district}}
				<div id="metrostation">
					{{> afQuickField name="metrostation" id="metrostation" value=metrostation}}	
				</div>
				{{> afQuickField name="description" id="summernote" value=description}}
				{{> afQuickField name="price" id="price" value=price}}
				<br/>
<!--				<div>
					<form name="myhealthform" id="myhealthform">
						<input type="radio" name="exactPrice" value="register" id="exactPrice-radio"/>
						Prix exact<br/>
						<input type="radio" name="exactPrice" value="register" id="estimation-radio"/>
						Estimation
					</form>
				</div>
-->				
				<label class="control-label">Durée (format: [heure(s)]h[minute(s)])</label>
				<input type="text" name="last" value="" id="last" style="width:100%; margin-bottom:10px;"/>
				<p><strong>Sélectionnez les horaires d'ouverture et de fermeture (ex:"1830-2000", ou juste "1900" pour une séance à 19h)<br/>
				ATTENTION: Si un bar est ouvert de 22h à 2h, écrire 2200-2359 (important de ne pas écrire 0000) et 0000-0200</strong></p>
				
				<input type="text" name="hours" value="" class="hidden" id="hours" style="width:100%; margin-bottom:10px;" readonly/>
				
				<div id="days">
					<div id="days0">
						<form>
							<input type="text" name="defaultValue.0" value="" id="defaultValue0"/>
								<input type="checkbox" name="weekdays.0" value="" id="weekdays0" checked/> Semaine
							<div id="checkbox-weekend0">
								<input type="checkbox" name="weekend.0" value="" id="weekend0" checked/> Week-end
							</div>
						</form>
					</div>
					<button type="button" class="btn btn-primary" id="add-all-button"><span class="glyphicon glyphicon-plus"></span></button>
					<div id="days1">
						<form>
							<input type="text" name="defaultValue.0" value="" id="defaultValue1"/>
								<input type="checkbox" name="weekdays.0" value="" id="weekdays1" checked/> Semaine
							<div id="checkbox-weekend1">
								<input type="checkbox" name="weekend.0" value="" id="weekend1" checked/> Week-end
							</div>
						</form>
					</div>
				</div>
				{{> afQuickField name="monday"}}
				{{> afQuickField name="tuesday"}}
				{{> afQuickField name="wednesday"}}
				{{> afQuickField name="thursday"}}
				{{> afQuickField name="friday"}}
				{{> afQuickField name="saturday"}}
				{{> afQuickField name="sunday"}}
				<div id="temporary">
					<input type="checkbox" name="" value="" id="temporary-checkbox"/> TEMPORAIRE
				</div>
				<div class="hidden" id="temporary-options">
					<div id="start-and-end-days">
					<strong>Premier jour:</strong><br/>
					Jour: <input type="text" name="start-day" value="" class="time-input" id="start-day"/>
					Mois: <input type="text" name="start-month" value="" class="time-input" id="start-month"/>
					Année: <input type="text" name="start-month" value="" class="time-input" id="start-year"/><br/>
					<strong>Dernier jour:</strong><br/>
					Jour: <input type="text" name="start-day" value="" class="time-input" id="end-day"/>
					Mois: <input type="text" name="start-month" value="" class="time-input" id="end-month"/>
					Année: <input type="text" name="start-month" value="" class="time-input" id="end-year"/>
					</div>
					<form name="timeform" id="timeform">
						<input type="radio" name="periodic" value="register" id="punctual-radio" checked/>
						Ponctuel (ne se répète pas tous les ans)<br/>
						<input type="radio" name="periodic" value="register" id="year-periodic-radio"/>
						Périodique (se répète tous les ans) (ex: parcs)
					</form>
				</div>
				{{> afQuickField name="longUrl" id="longUrl" value=longUrl}}
				{{> afQuickField name="contact" id="contact" value=contact}}
				{{> afQuickField name="image" id="image" value=image}}
				{{> afQuickField name="source" id="source" value=source}}
				<div class="type" id="lieux-curieux">300 lieux pour les curieux</div>
				<div class="type" id="timeout">TimeOut</div>
				<div class="type" id="parisbouge">ParisBouge</div>
				<div class="type" id="petitestables">Les Petites Tables</div>
				<div class="type" id="bars-restos-insolites">Bars et Restos insolites</div>
				<div class="type" id="le-branche">Le Branché</div>
				<div class="type" id="topito">Topito</div>
				<div class="type" id="paris-zigzag">Paris ZigZag</div>
				{{> afQuickField name="copies" id="copies" value=1}}
<!--				<strong>OU uploader une image</strong>	
				<input type="file" name="illustration" id="illustration"/>
-->			</fieldset>
			<button type="submit" class="btn btn-primary" id="submit-button">Proposer l'activité</button>
		{{/autoForm}}
<!--		<div class="btn btn-primary" id="reinsert-values" style="margin-bottom: 150px;">Réinsérer les valeurs</div>
-->	</div>
	<div class="col-md-3">
	<a href="{{pathFor 'database'}}">
		Visualiser la database
	</a> <br/>
	<a href="{{pathFor 'SMScardList'}}"> Essayer la roulette! </a>
	</div>
</body>
</template>